<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="-1"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/xs.css"/>
</head>

<body>

<div id="header">
  <div class="header"></div>
</div>
<div id="menu">
  <ul>
    <li><a href="/monitor"><span>Machine Monitor</span></a></li>
    <% if(current_user.gid == 0) %>
      <li><a href="/admin"><span>Administration</span></a></li>
    <% end %>
    <li><a href="/events"><span>Logs</span></a></li>
    <li><a href="/userinfo"><span>User Info</span></a></li>
  </ul>
</div>

<div id="showcontent">
<div id="admincontent">
  <div id="adminwrapper" class="clearfix">
    <div id="adminright">
      <div id="rightboxuser">
        <% if(params[:pwusername]) %>
        <div class="availabletitle"><%= params[:pwusername] %></div>
          <%= @rbname %><br/>
          <%= @rbusertype %><br/>
          
          <% if (current_user.gid == 0) %>
            <br/>
            <form action="/userinfo/submit" method="POST">
              <input type="hidden" id="login" name="username" value="<%= params[:pwusername] %>" />
            
              Old password:<input id="change-password" name="oldpassword" size="18" type="password"/><br/><br/>
              New password:<input id="change-password" name="newpassword" size="18" type="password"/><br/>
              Again:<input id="change-password" name="newpasswordcheck" size="18" type="password"/><br/>
            
              <input type="submit" id="submitformpw" name="submit" value="Change Password"/>
            </form>
            <br/>
          <% elsif (current_user.gid == 1 && current_user.login == params[:pwusername]) %>
            <br/>
            <form action="/userinfo/submit" method="POST">
              <input type="hidden" id="login" name="username" value="<%= params[:pwusername] %>" />
            
              Old password:<input id="change-password" name="oldpassword" size="18" type="password"/><br/><br/>
              New password:<input id="change-password" name="newpassword" size="18" type="password"/><br/>
              Again:<input id="change-password" name="newpasswordcheck" size="18" type="password"/><br/>
            
              <input type="submit" id="submitformpw" name="submit" value="Change Password"/>
            </form>
            <br/>
          <% end %>
        <% else %>
          Blah
        <% end %>
      </div>
    </div>
    <div id="adminleft">
      <div id="leftbox">
        <div class="barwhite">
          <div class="bartextwhite">
            Users
          </div>

          <div class="bartextbwhite">
            <% if (current_user.gid == 0) %>
              <a href="#">Add User</a>
            <% end %>
          </div>
        </div>

        <div class="lefttextwhite">
          <div class="userlist">
             <% for user in @userlist %>
               <div class="usereditlist">
                 <% if (current_user.gid == 0) %>
                   <a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <% end %>
                 <%= user.login %><div class="showname">(<%= user.name %>)</div>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

</body>

</html>