<% for machine in @yourvms %>
  <% if(machine.name =~ /^Template-*/) %>
  <% else %>
    <script type="text/javascript">
      function displayfocusl<%= machine.name %>() {
        $.ajax({
          url: "/monitor/<%= machine.name %>",
          cache: false,
          success: function(html) {
            $("#displayfocusl<%= machine.name %>").html(html);
          }
        });
      };
    </script>
    <a id="displayfocusl<%= machine.name %>" onClick="displayfocusl<%= machine.name %>();" href = "#"><img src="/images/magnifier.png" border="0"/></a>
    <% @starttime = machine.starttime.strftime("%Y-%m-%d %H:%M") %>
    <% @difftime = Time.now.strftime("%Y-%m-%d %H:%M").gsub(/[-:\s]/, '').to_i - @starttime.gsub(/[-:\s]/, '').to_i %>
    <% if (@difftime < 600) %>
      <%= machine.name %> <br/>
    <% elsif (@difftime > 125959 && @difftime < 930000) %>
      <%= machine.name %> <br/>
    <% else %>
      <b><%= machine.name %></b> <br/>
    <% end %>
  <% end %>
<% end %>
